.home {
    display: 'flex';
    flex-direction: column;
    gap: 16;
    font-family: Arial, sans-serif;
}

.home__buttons {
    display: flex;
    column-gap: 12px;
    justify-content: center;
}

.home__error {
    color: rgb(161, 67, 67);
}

.home__title {
    background-color: rgb(129, 188, 216);
    text-align: center;
    border-radius: 10px;
    padding: 20px 0;
    color: rgb(76, 133, 106);
}

.home__info {
    font-weight: medium;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.home__button {
    background-color: rgb(76, 133, 106);;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    color: aliceblue;
    transition: 0.2s;
}


.home__button:hover {
    transform: scale(1.05);
    cursor: pointer;
}